
.x-button-back, .x-toolbar .x-button-back {
margin-left: 0.828em;
padding-left: .4em;
}

.x-form-fieldset-title,
.x-form-label {
    white-space: normal;
   
}

.x-field {
min-height: 0em;
background: white;
}


#pQuestion5List .x-list-item {
   height: 80px;
}

#PortPlacementGradeList .x-list-item-label {
   min-height: 60px;
}


#pQuestion5List .x-list-item-label {
   height: 80px;
}
#dryboxDockingQuestions .x-list-container {
padding: 2px 13px 0 13px;
}
#dryboxDockingQuestions .x-list-item {
height: 47px;


}

.x-toggle-on {    background-color: #369aee;
     background-image: none;
}

.x-button-back, .x-toolbar .x-button-back {
margin-left: 0.828em;
padding-left: .4em;
}

.x-toggle-on:before {
    position:absolute;
    content:'Yes';
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-.05em;
    color: #fff;
    left: 1em;
    top: .28em;
}


.x-toggle-off {
    background-color: #fff !important;
    background-image: none;
}


.x-toggle-off:before {
    position:absolute;
    content:'No';
    font-size: 1.1em;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing:-.05em;
    color: #999;
    left: 2em;
    top: .28em;
}

.x-toggle {
width: 5.4em;

}

.x-form-fieldset-title{
white-space: normal;
background: white;
margin:0px;
}

 