* {
	font-family: Arial;
	cursor:default !important;
}
.x-scroll-container{
	/*background: #c5ccd4 url(pinstripes.png);*/
	/*background: #c5ccd4 url(../icons/pinstripes.png);*/
	background-image:url("../icons/generic_bg.jpg");
	/*background-image:url("../icons/pinstripes.png");*/
}

.product_text{
	margin-left: 10px;
	margin-right: 10px;
}


.product_catalog_a{
	cursor: pointer !important;
}


.main-cell {
	text-align: left;
	overflow:hidden;
	padding:15px 7px 15px 7px;
	
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color:#AAAAAA;	
	
	background-color: white;
	cursor: default;
	box-shadow: 2px 2px 2px #AAAAAA;
}
.main-cell-top {
	border-radius: 10px 10px 0 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color:#AAAAAA;	
}
.main-cell-bottom {
	text-align: left;
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid;
	border-color:#AAAAAA;
	box-shadow: 2px 2px 2px #AAAAAA;	
}
.main-cell-single {
	border-radius: .9em;
	/*background: -webkit-linear-gradient(top, #FEFEFE, #E5E5E5);*/
	background: -webkit-linear-gradient(top, #DDDDDD, #FFFFFF);
	border-style: solid;
	border: 1px solid #444444;
	box-shadow: 3px 3px 6px #777777;
	margin-left: 28px;
	margin-right: 14px;
	width: 180px;
	height: 180px;
	text-align: center;
	font-weight: bold;
	/*color: #444444;*/
	text-shadow: white 0.1em 0.1em 0.2em;

}
.line{
	border-top: 1px solid #cccccc;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: -15px;
	margin-right: -15px;
}


















.tt-cell-top {
	border-radius: 10px 10px 0 0;
	border-top: 1px solid;
	border-bottom: 1px solid;
	border-color:#AAAAAA;
	margin: 0 10px 0 10px;	
}

.tt-cell {
	overflow:hidden;
	padding:15px 7px 15px 7px;
	
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color:#AAAAAA;	
	
	background-color: white;
	cursor: default;
	box-shadow: 2px 2px 2px #AAAAAA;
	margin: 0 10px 0 10px;	
}

.tt-cell-bottom {
	border-radius: 0 0 10px 10px;
	border-bottom: 1px solid;
	border-color:#AAAAAA;
	box-shadow: 2px 2px 2px #AAAAAA;	
	margin: 0 10px 0 10px;	
}

.tt-cell-single {
	overflow:hidden;
	padding:15px 7px 15px 7px;
	border-top: 1px solid;
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-radius: 10px 10px 10px 10px;
	border-color:#AAAAAA;	
	background-color: white;
	cursor: default;
	box-shadow: 2px 2px 2px #AAAAAA;
	margin: 0 10px 0 10px;
}

.tt-cell-option{
	font-size:.75em;
	padding-left:20px;
}

.tt-cell-question-header{
	font-size: .8em;
	font-weight: bold;
	font-family: arial;
}

.tt-cell-timer-header{
	text-align: center;
	padding: 5px 5px 0px 5px;
	border-bottom: 0px;
}

.tt-cell-timer{
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	padding: 0px 0px 5px 0px;
	border-bottom: 0px;
}

.tt-cell-timer-button{
	border-top: 1px solid #EEEEEE;
	overflow: hidden;
	padding: 10px;
}

.tt-button {
	text-align: -webkit-center;
	font-weight: bold;
	height: 40px;
	cursor: default;
}

.tt-button span{
	pointer-events: none;
}

.x-button-normal span{
	opacity: 0.8;
}

.tt-button-disabled{
	cursor: default;
	opacity: 0.6;
}

.tt-button-disabled span{
	opacity: 0.5;
}

.tt-cell-selected{
	background: -webkit-linear-gradient(top, #B2CCFF, #85ADFF);
}

.tt-skill-text{
	font-size: .8em;
	font-weight: bold;
	font-family: arial;
	padding-top: 6px;
}

.PageInfo{
	font-family: Verdana;
	font-size: .7em;
	font-style: italic;
	color: #0;
	padding-bottom: 10px;
	/*margin-top: -15px;*/
	margin-left: 15px;
	margin-bottom: 10px;
}

.PageInfoPanel{
	color: #0;
	/*background: #6F7179;*/
	background: #6CACDC
}

.PageInfoDiv{
	color: #DDDDDD;
	font-family: Verdana;
	font-size: .7em;
	font-style: italic;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: 20px;
}

.TrainingProtocolCell{
	border-radius: .9em;
	background-image: url(../icons/xi_mp_icon.png), -webkit-linear-gradient(top, #FFFFFF 0%, #DDDDDD 100%);
	border-style: solid;
	border-color: #436895;
	border-width: 3px;
	box-shadow: 5px 5px 10px #444444;
	margin-left: 28px;
	margin-right: 14px;
	height: 180px;
	width: 180px;
	text-align: center;
	font-weight: bold;
	color: #444444;
	text-shadow: white 0.1em 0.1em 0.2em;
}
.TrainingProtocolCell .TrainingName{
	pointer-events: none;
	margin-top: 5px;
	width:100%;
	font-size: 1.1em;
}

.TrainingProtocolCell .Status{
	pointer-events: none;
	position: absolute;
	margin-left: 50px;
	margin-top: 144px;
	font-size: .7em;
}

.TrainingProtocolCell .Icon{
	pointer-events: none;
	position: absolute;
	margin-left: 16px;
	margin-top: 137px;
	font-size: .7em;
}

.TrainingProtocolSubTitle{
	color: #FFFFFF;
	/*background: #6F7179;*/
	background: #6CACDC;
	font-size: 1.2em;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
}

.tt-cell-not-submitted{ /*red*/
	/*background: #F0C2B2;*/ 
	background: -webkit-linear-gradient(top, #FFFFFF, #FFD6CC);
}

.tt-cell-submitted{ /*green*/
	/*background: #D6F5D6;*/
	background: -webkit-linear-gradient(top, #FFFFFF, #EAFAEA);
}
